<!-- src/app/advice/advice.component.html -->
<div class="advice-container">
    <h2>Découvrez vite notre blog JNINA</h2>
    <p>
      Réalisez en toute simplicité vos achats en ligne. Nos catalogues et notre site se complètent à merveille pour que votre jardin devienne le plus beau des jardins.
    </p>
    <p>
      Si vous êtes à la recherche de conseils de jardinage pour réaliser vos plantations en toute sérénité, si vous souhaitez vous perfectionner et devenir un jardinier confirmé, notre blog est une source intarissable d'informations. Il regorge de conseils et vous permet de tout savoir sur les plantes, leur plantation et leur entretien. Ce blog vous permettra de mieux choisir vos plantes et vous fournira de nombreux trucs et astuces de jardiniers.
    </p>
    <p>
      Trouvez nos astuces et conseils suivant le 1er Blog Tunisien sur les plantes ornementales et jardinage.
    </p>
  
    <!-- Image du blog avec lien -->
    <a href="https://www.jnina.com/blog" target="_blank">
      <img src="/assets/images/blog-banner.png" alt="Blog JNINA" class="blog-image">
    </a>
  </div>
  