<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/robot-parts/head-friendly.png" alt="Friendly Robot Head" />
    <div class="promo-text">
      <div class="promo-main-text">JNINA DESIGNS vous ouvre les portes d’un monde végétal tendance et moderne.</div>
      <div class="promo-sub-text cta">
        <div>JNINA DESIGNS</div>
      </div>
    </div>
    <img src="/assets/images/robot-parts/head-big-eye.png" alt="Big Eye Head" />
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/head-shredder.png" alt="Robot Heads" />
        <div>PLANTES</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/arm-articulated-claw.png" alt="Robot Arms" />
        <div>ARBUSTES</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/torso-gauged.png" alt="Robot Torsos" />
        <div>ACCESSOIRES</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img src="/assets/images/robot-apocalypse.png" alt="Robot Apocalyse" />
    <div class="text">
      <div>
        <div class="header-text cta">Tendances cette semaine</div>
        <div class="sub-text">
          <p>Trouvez notre nouvelle sélection de plantes,</p>
          <p>pots en résine et accessoires pour votre jardin.</p>
        </div>
      </div>
      <div class="large-text">JNINA DESIGNS</div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>